.catalogoCont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 200;
  flex-direction: column;
  padding:2rem;
  color: #000;
  cursor: default;
}

.catalogoCont h3 {
  font-weight: bold;
}
.catalogoCont p {
  max-width: 600px;
}

.catPapelaria{
  width: 100%;
}

.titulo{
  background-color: var(--cor-destaque);
  border-radius:.5rem;
  font-size: 1.5rem;
  color: #fff;
  width:100%;
}

.catPapelaria ul{
  list-style: none;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.catPapelaria ul li{
  width: 150px;
  margin: 20px;

}


