.catalogoCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 200;
  flex-direction: column;
  padding: 2rem;
  color: #000;
  cursor: default;
}

.catalogoCont h3 {
  font-weight: bold;
}
.catalogoCont p {
  max-width: 600px;
}

.catPapelaria {
  width: 100%;
}

.titulo {
  background-color: var(--cor-destaque);
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
  width: 100%;
}

.catPapelaria ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.catPapelaria ul li {
  width: 150px;
  margin: 20px;
}

.contOpcao {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.opcaoCatalogo {
  display: block;
  margin: 0 auto;
}

.opcaoCatalogo p {
  font-size: 1.5rem;

  font-family: var(--font-titulo);
}

.catalogoButton {
  padding: 12px 0 !important;
  border-radius: 0.5rem !important;
  border: 2px solid var(--cor-destaque) !important;
  color: #fff !important;
  background-color: var(--cor-destaque) !important;
  font-family: var(--font-primaria) !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  text-align: center !important;
  cursor: pointer !important;
  width: 210px;
  height: 50px;
}

.catalogoButton:hover {
  box-shadow: 1px 1px 10px #000;
}

@media screen and (max-width: 750px) {
  .catalogoButton {
    width: 120px;
    height: 50px;
  }
}
